{%- macro itemList(params) -%}

{# 
Parameters received by this partial:

name
date
img
url
details
ingress
urlDownload
fileSize
fileExtension
type [ie. 'documents']
 #}


{% macro downloadTxt(params) %}
  {% if params.fileSize and params.fileExtension %}
    <span class="txt">Last ned rapport ({{ params.fileSize | safe }}, {{ params.fileExtension | safe }})</span>
  {% elif params.fileSize %}
		<span class="txt">Last ned rapport ({{ params.fileSize | safe }})</span>
	{% endif %}
	{% if params.fileExtension %}
		<span class="txt">Last ned rapport, {{ params.fileExtension | safe }}</span>
  {% endif %}
{% endmacro %}

{% if params.img %}
  <li
    class="section__lists--list__item has-image line-bottom m-t-20 p-b-10"
  >
    <div class="row">
      <div class="col-12 col-md-3">
        {% if params.url or params.urlDownload %}
          <a class="has-image--{% if params.url %}link{% else %}download{% endif %}" href="{% if params.url %}{{ params.url | safe }}{% else %}{{ params.urlDownload | safe }}{% endif %}">
            <img src="{{ params.img | safe }}" alt="{{ params.name | safe }}">
          </a>
        {% else %}
          <img src="{{ params.img | safe }}" alt="{{ params.name | safe }}">
        {% endif %}
      </div>
      <div class="col-12 col-md-9">
        <div class="m-b-22">
          <h4>{{ params.name | safe }}</h4>
          {% if params.date %}
            <div class="section__lists--list__item--date">{{ params.date | safe }}</div>
          {% endif %}
          {% if params.ingress %}
            <div>{{ params.ingress | safe }}</div>
          {% endif %}
        </div>
        {% if params.url %}
          {{
						button({
							type: 'secondary',
							txt: 'Les sammendrag',
							url: params.url
						})            
          }}
        {% endif %}
        {% if params.urlDownload %}
          <div>
            <a
              href={{ params.urlDownload | safe }}
              class="button button--download-secondary"
            >
              <span class="before"></span>
              {{
								downloadTxt({
									fileSize: params.fileSize,
									fileExtension: params.fileExtension
								})
							}}
              <span class="after"></span>
            </a>
          </div>
        {% endif %}
      </div>
    </div>
  </li>
{% else %}
  <li
    class="section__lists--list__item{% if params.type %} {{ params.type | safe }}{% endif %}"
  >
    <a class="clickable" href="{{ params.url | safe }}">
      <span class="font-azo-medium">{{ params.name | safe }}</span>{% if params.date %} <span class="section__lists--list__item--date">{{ params.date | safe }}</span>{% endif %}
      <div>
        {% if params.ingress %}
          {{
						ingress({
							txt: params.ingress
						})            
          }}
        {% endif %}
        {% if params.details %}
          <div class="section__lists--list__item--details">
            {% if params.details.place %}Sted: {{ params.details.place | safe }}.&nbsp;&nbsp;{% endif %}{% if params.details.deadline %}Frist: {{ params.details.deadline | safe }}{% endif %}
          </div>
        {% endif %}
      </div>
    </a>
  </li>
{% endif %}


{%- endmacro -%}
