{%- macro storySmall(params) -%}

{# 
Parameters received by this partial:

headline
ingress
links
ingressMargin  
#}

{% from "macros/button.njk" import button %}
{% from "macros/ingress.njk" import ingress %}

{% if params.number %}
  <div class="number__wrapper m-b-22">
    <h3>
      <span class="number--number-header m-b-5">
        {{ params.number | safe }}
      </span>
      <span class="m-b-2">
          {{ params.headline | safe }}
      </span>
    </h3>
  </div>
{% else %}
  <h3 class="m-b-2">
    {{ params.headline | safe }}
  </h3>
{% endif %}
{% if params.ingress %}
  {{
		ingress({
			txt: params.ingress,
			marginOverrides: params.ingressMargin
		})    
  }}
{% endif %}
{% if params.links %}
  <div class="row">
    <div class="col-12">
      {% for link in params.links %}
        {{
					button({
						type: 'secondary',
						url: link.url,
						txt: link.txt
					})          
        }}
      {% endfor %}
    </div>
  </div>
{% endif %}
{%- endmacro -%}
