.card {
  width: 100%;
  overflow: auto;
}
.card__image {
  width: 100%;
  padding-top: $padding-top-3x2-aspect-ratio;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card__icon {
  width: 100%;
  padding-top: $padding-top-3x2-aspect-ratio;
  background-position: center;
  background-repeat: no-repeat;
}
.card__column {
  padding: 45px 55px;
  background-color: $cl-gray-light;
  .section--alt & {
    background-color: $cl-white;
  }
}
