<footer class="footer-proto">
  <div class="container m-t-80">
    <div class="row">
      <div class="col-12 col-md-6 col-xl-3">
        <ul class="footer-proto__list">
          <li class="footer-proto__list--item__heading">
						{% from "../_base/_heading.njk" import heading %}
            {{ 
							heading({
								txt: 'Oljefondet',
								hType: '2',
								classes: 'footer-proto__heading bold-text',
								url: '/index.html'
							})
						}}            
          </li>
          <li class="footer-proto__list--item">
            <a>Om Oljefondet</a>
          </li>
          <li class="footer-proto__list--item">
            <a>Oljefondets historie</a>
          </li>
          <li class="footer-proto__list--item">
            <a>Markedsverdiens utvikling</a>
          </li>
          <li class="footer-proto__list--item">
            <a>Avkastning</a>
          </li>
          <li class="footer-proto__list--item">
            <a>Hvordan fondet investeres</a>
          </li>
          <li class="footer-proto__list--item">
            <a>Alle investeringer</a>
          </li>
          <li class="footer-proto__list--item">
            <a>Ansvarlig forvaltning</a>
          </li>
          <li class="footer-proto__list--item">
            <a>Nyheter</a>
          </li>
          <li class="footer-proto__list--item">
            <a>Abonnement</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-6 col-xl-3">
        <ul class="footer-proto__list">
					
          <li class="footer-proto__list--item__heading">
           {{ 
							heading({
								txt: 'Innsikt',
								hType: '2',
								classes: 'footer-proto__heading bold-text',
								url: ''
							})
						}}
          </li>
          <li class="footer-proto__list--item">
            <a>Diskusjonsnotater</a>
          </li>
          <li class="footer-proto__list--item">
            <a>Forventningsdokumenter</a>
          </li>
          <li class="footer-proto__list--item">
            <a>Rapporter</a>
          </li>
          <li class="footer-proto__list--item">
            <a>Brev til Finansdepartementet</a>
          </li>
          <li class="footer-proto__list--item">
            <a>Høringsuttalelser</a>
          </li>
          <li class="footer-proto__list--item">
            <a>NBIM Teach</a>
          </li>
          <li class="footer-proto__list--item">
            <a>NBIM Talk</a>
          </li>
          <li class="footer-proto__list--item">
            <a>Videoarkiv</a>
          </li>
          <li class="footer-proto__list--item">
            <a>Konferanser</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-6 col-xl-3">
        <ul class="footer-proto__list">
          <li class="footer-proto__list--item__heading">
						 {{ 
							heading({
								txt: 'Ansvarlig forvaltning',
								hType: '2',
								classes: 'footer-proto__heading bold-text',
								url: ''
							})
						}}
          </li>
          <li class="footer-proto__list--item">
            <a>Utelukkelser og nedsalg</a>
          </li>
          <li class="footer-proto__list--item">
            <a>Forventning og oppfølging</a>
          </li>
          <li class="footer-proto__list--item">
            <a>Stemmegivning</a>
          </li>
          <li class="footer-proto__list--item">
            <a>Posisjonsnotater</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-6 col-xl-3">
        <ul class="footer-proto__list">
          <li class="footer-proto__list--item__heading">
						 {{ 
							heading({
								txt: 'Organisering',
								hType: '2',
								classes: 'footer-proto__heading bold-text',
								url: ''
							})
						}}
            {# {{> base/heading
              txt='Organisering'
              hType='2'
              classes='footer-proto__heading bold-text'
              url='/organisering.html'
            }} #}
          </li>
          <li class="footer-proto__list--item">
            <a>Styringsmodellen</a>
          </li>
          <li class="footer-proto__list--item">
            <a>Norges Bank Investment Management</a>
          </li>
          <li class="footer-proto__list--item">
            <a>Kontakt oss</a>
          </li>
          <li class="footer-proto__list--item">
            <a>Kalender</a>
          </li>
          <li class="footer-proto__list--item">
            <a>Våre kontorer</a>
          </li>
          <li class="footer-proto__list--item">
            <a>Jobb i Oljefondet</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-proto--separator"></div>
    <div class="row">
      <div class="col-12 col-lg-4">
        <div class="footer-proto--social-networks">
          <div class="footer-proto__facebook m-b-10"><a href="#">Følg oss på Facebook</a></div>
          <div class="footer-proto__linkedin"><a href="#">Følg oss på LinkedIn</a></div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <ul class="footer-proto__bottom-links">
          <li class="m-b-10">
            <a href="https://www.norges-bank.no/">Norges-bank.no</a>
          </li>
          <li class="m-b-10">
            <a href="https://www.regjeringen.no/no/dep/fin/id216/">Finansdepartementet.no</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-lg-4">
        <ul class="footer-proto__bottom-links">
          <li class="m-b-10 italic">
            <a href="#">Opphavsrett</a>
          </li>
          <li class="m-b-10 italic">
            <a href="#">Informasjonskapsler</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
