{#
Parameters received by this partial:

hType
txt
classes
url (optional) #}

{%- macro heading(params) -%}
	<{% if params.hType %}h{{ params.hType | safe }}{% else %}h3{% endif %}>
		{% if params.url %}
			<a href="{{ params.url | safe }}" title="{{ params.txt | safe }}">
				{{ params.txt | safe }}
			</a>
		{% else %}
			{{ params.txt | safe }}
		{% endif %}
	</{% if params.hType %}h{{ params.hType | safe }}{% else %}h3{% endif %}>
{%- endmacro -%}
