{%- macro sectionCalendar(params) -%}

{# 
Parameters received by this partial:

isAlt
isShort
spacingTop [ie. '2', '5', '10', '15', '20', '30', '40', '50', '60', '70', '80', '90', '100']
headline
ingress
items 
#}

{% from "sections/section-content-top.njk" import sectionContentTop %}
{% from "sections/item-calendar.njk" import itemCalendar %}
{% from "macros/button.njk" import button %}

<section class="section {% if params.isAlt %}section--alt {% endif %}section__calendar">
  <div class="container m-t-{% if params.spacingTop %}{{ params.spacingTop | safe }}{% else %}80{% endif %}{% if not params.isShort %} m-b-80{% endif %}">
    {{
			sectionContentTop({
				isBig: true,
				isThreeFourths: true,
				headline: params.headline,
				ingress: params.ingress
			})      
    }}
    <div class="row">
      <div class="col-12">
        <ul class="section__calendar--list m-b-40">
          {% for item in params.items %}
            {{
							itemCalendar({
								title: item.title,
								day: item.date.day,
								month: item.date.month,
								ingress: item.ingress,
								url: item.url,
								isFullWidth: false
							})              
            }}
          {% endfor %}
        </ul>
        {% for link in params.links %}
          <div class="m-t-15">
            {{
							button({
								type: 'secondary',
								url: link.url,
								txt: link.txt
							})              
            }}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{%- endmacro -%}