{{!--
Parameters received by this partial:

isAlt
isShort
spacingTop [ie. '2', '5', '10', '15', '20', '30', '40', '50', '60', '70', '80', '90', '100']
headline
ingress
lists
--}}

<section class="section {{#if isAlt}}section--alt {{/if}}section__lists">
  <div class="container m-t-{{#if spacingTop}}{{{ spacingTop }}}{{else}}80{{/if}}{{#unless isShort}} m-b-80{{/unless}}">
    {{> sectionContentTop
      isBig=true
      isThreeFourths=true
      headline=headline
      ingress=ingress
    }}
    <div class="row">
      <div class="col-12">
        {{#each lists}}
          {{> base/heading
            txt=title
            hType='3'
            classes='section__lists--lists__title'
          }}
          <div class="section__lists--lists">
            <div class="row">
              <div class="col-12 col-md-4"></div>
              <div class="col-12 col-md-8">
                <ul class="section__lists--list">
                  {{#each items}}
                    {{> sections/item-list
                      name=name
                      date=date
                      url=url
                      details=details
                    }}
                  {{/each}}
                </ul>
                {{#each links}}
                  <div class="section__lists--list__link m-t-30">
                    {{>button
                      type='secondary'
                      txt=txt
                      url=url
                    }}
                  </div>
                {{/each}}
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</section>
