{%- macro sectionPersons(params) -%}

{# 
Parameters received by this partial:

isAlt
isShort
isArticle
spacingTop [ie. '2', '5', '10', '15', '20', '30', '40', '50', '60', '70', '80', '90', '100']
id
headline
ingress
contacts
department
isOpen
 #}

 {% from "sections/section-content-top.njk" import sectionContentTop %}
 {% from "items/item-person.njk" import itemPerson %}
 {% from "macros/ingress.njk" import ingress %}
 

{% if params.isArticle %}
  <div id={{ params.id | safe }} class="section {% if params.isAlt %}section--alt {% endif %}section__persons article">
{% else %}
  <section id={{ params.id | safe }} class="section {% if params.isAlt %}section--alt {% endif %}section__persons">
{% endif %}
  <div class="{% if not params.isArticle %}container{% endif %} m-t-{% if params.spacingTop %}{{ params.spacingTop | safe }}{% else %}80{% endif %}{% if not params.isShort %} m-b-80{% endif %}">
    {{
			sectionContentTop({
				isBig: true,
				isThreeFourths: true,
				headline: params.headline,
				ingress: params.ingress
			})      
    }}
    <ul class="section__persons--list m-b-40">
      {% if params.isArticle %}
        {% for contact in params.contacts %}
          {{
						itemPerson({
							isOpen: contact.isOpen,
							isArticle: true,
							name: contact.name,
							job_title: contact.job_title,
							phone_nr: contact.phone_nr,
							mobile_nr: contact.mobile_nr,
							email: contact.email,
							bio: contact.bio,
							press_img_low: contact.press_img_low,
							press_img_high: contact.press_img_high,
							press_img_position: contact.press_img_position
						})            
          }}
        {% endfor %}
      {% else %}
        {% for contact in params.contacts %}
          {{
						itemPerson({
							isOpen: contact.isOpen,
							name: contact.name,
							job_title: contact.job_title,
							phone_nr: contact.phone_nr,
							mobile_nr: contact.mobile_nr,
							email: contact.email,
							bio: contact.bio,
							press_img_low: contact.press_img_low,
							press_img_high: contact.press_img_high,
							press_img_position: contact.press_img_position
						})            
          }}
        {% endfor %}
      {% endif %}
    </ul>
    <div class="row">
      <div class="col-12 col-md-6">
        {% if params.footer %}
          {% if params.footer.title %}
            <div class="section__persons--department__title">
              {{ params.footer.title | safe }}
            </div>
          {% endif %}
          {% if params.footer.email %}
            <div class="m-b-20">
              <a class="email" href="mailto:{{ params.footer.email | safe }}" title="Kontakt {{ params.footer.title | safe }} på e-post">{{ params.footer.email | safe }}</a>
            </div>
          {% endif %}
          {% if params.footer.ingress %}
            {{
							ingress({
								txt: params.footer.ingress
							})              
            }}
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
{% if params.isArticle %}
  </div>
{% else %}
  </section>
{% endif %}

{%- endmacro -%}
