{{!--
Parameters received by this partial:

isAlt
isShort
spacingTop [ie. '2', '5', '10', '15', '17', '20', '22', '30', '40', '50', '60', '70', '80', '90', '100']
headline
ingress
links
items
quote
--}}

<section class="section {{#if isAlt}}section--alt {{/if}}section__sec-4">
  <div class="container m-t-{{#if spacingTop}}{{{ spacingTop }}}{{else}}80{{/if}}{{#unless isShort}} m-b-80{{/unless}}">
    {{> sectionContentTop
      isBig=true
      isThreeFourths=true
      headline=headline
      ingress=ingress
      quote=quote
    }}
    <div class="row">
      {{#each items}}
        <div class="col-12 col-md-6 col-lg-3 m-b-{{#if links}}20{{else}}10{{/if}}">
          {{#if imgUrl}}
            {{> image
              imgAltText=imgAltText
              imgUrl=imgUrl
              classes='aspect aspect__ratio-panorama--sm aspect__ratio-16-9--md aspect__ratio-1-1--lg aspect__ratio-16-9--xl m-b-40'
            }}
          {{/if}}
          {{> storySmall
            headline=headline
            ingress=ingress
            links=links
            url=url
          }}
        </div>
      {{/each}}
    </div>
    {{#if links}}
      <div class="row m-t-2">
        <div class="col-12">
          {{#each links}}
            {{> button
              type='secondary'
              url=url
              txt=txt
            }}
          {{/each}}
        </div>
      </div>
    {{/if}}
  </div>
</section>
