{% from "../macros/swatch.macro.njk" import colorPattern %}
{#
{{ colorPattern("brandColor", "#f06d06", "Our main color.") }}
{{ colorPattern("brandHighlight", "#d0b000", "For callouts and highlights.") }}
{{ colorPattern("grayDark", "#333333", "For things like code block backgrounds.") }}


  {% for color in colors %}
    {{ swatch(color.color_name, color.color_value, color.color_notes) }}
  {% endfor %} #}


	{# <h2>{%- colors.detail -%} from markdown</h2> #}

	{# <p>{% colorSwatch.colorName | safe %}</p> #}

	{{
		colorPattern({
			colorName: colorSwatch.colorName,
			colorValue: colorSwatch.colorValue,
			colorNotes: colorSwatch.colorNotes
		})
	}}

