---
title: Birds
birds:
  - robin
  - finch
  - sparrow
---
{% include '_head.njk' %}

		<h1>{{ title }}</h1>
		<ul>
			{% for bird in birds -%}
			<li>{{ bird }}</li>
			{% endfor -%}
		</ul>

{% include '_foot.njk' %}