{%- macro sectionSplit(params) -%}

{#
Parameters received by this partial:

pictureToLeft
isAlt
isShort
spacingTop [ie. '2', '5', '10', '15', '17', '20', '22', '30', '40', '50', '60', '70', '80', '90', '100']
imgAltText
imgUrl
headline
ingress
links
quote
 #}

{% from "macros/image.njk" import image %}
{% from "macros/video.njk" import video %}
{% from "macros/story.njk" import story %}

{%- macro theImage(params) -%}
  {{
		image({
			imgAltText: params.imgAltText,
			imgUrl: params.imgUrl,
			classes: 'aspect aspect__ratio-16-9--sm aspect__ratio-1-1--md aspect__ratio-1-1--lg aspect__ratio-16-9--xl section__split--image'
		})    
  }}
{%- endmacro -%}

{%- macro theVideo(params) -%}
  {{
		video({
			video: params.video
		})    
  }}
{%- endmacro -%}

{# Note that 'section__split-50-50' has no effect on styles, it's just a reference #}
<section class="section {% if params.isAlt %}section--alt{% endif %} {% if params.quote %}section--quote{% endif %} section__split section__split-50-50">
	<div class="container 
		{% if params.spacingTop %}m-t-{{ params.spacingTop | safe }}{% else %}m-t-80{% endif %}
		{% if not params.isShort %} m-b-80{% endif %}">
    <div class="row">
      <div class="col-12 col-md-6 order-1{% if params.pictureToLeft %} order-md-2{% endif %}">
        {% if params.imgUrl %}
					{{
						image({
							imgAltText: params.imgAltText,
							imgUrl: params.imgUrl,
							classes: 'aspect aspect__ratio-16-9--sm aspect__ratio-1-1--md aspect__ratio-1-1--lg aspect__ratio-16-9--xl section__split--image'
						})
					}}
        {% elif params.video %}					
					{{
						video({
							video: params.video
						})
					}}
        {% endif %}
      </div>
      <div class="col-12 col-md-6 order-2{% if params.pictureToLeft %} order-md-1{% endif %}{% if params.quote %} d-flex align-items-center{% endif %}">
        {% if params.quote %}
          <div>            
						{{
							story({
								headline: params.headline,
								ingress: params.ingress,
								links: params.links,
								quote: params.quote
							})
						}}
          </div>
        {% else %}					
          {{
						story({
							isLead: params.isLead,
							headline: params.headline,
							ingress: params.ingress,
							links: params.links,
							quote: params.quote
						})
          }}
        {% endif %}
      </div>
    </div>
  </div>
</section>
{%- endmacro -%}
