.pagination {
  text-align: center;

  .pagination-list {
    margin: 0;
    padding: 0;
    list-style: none;

    &__item {
      display: inline-block;
      padding: 0;
      margin: 0 0 20px 20px;

      &:first-child {
        margin-left: 0;
      }

      &__link {
        text-decoration: none;
        position: relative;

        &.current:after {
          content: '';
          width: 100%;
          border: 1px solid $cl-blue-2;
          position: absolute;
          bottom: -6px;
          left: 0;
        }
      }
      &__button {
        width: 18px;
        height: 16px;
        display: inline-block;
        text-decoration: none;
        vertical-align: middle;

        &.back {
          background-image: url('#{$path-images}/arrow-cl-blue.svg');
          transform: rotate(180deg);
          margin: -4px 40px 0 0;
          @include media-breakpoint-down(sm) {
            margin-right: 0;
          }
        }
        &.next {
          background-image: url('#{$path-images}/arrow-cl-blue.svg');
          margin: -4px 0 0 40px;
          @include media-breakpoint-down(sm) {
            margin-left: 0;
          }
        }

        span {
          border: 0;
          clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
          clip: rect(1px, 1px, 1px, 1px);
          height: 1px;
          margin: -1px;
          overflow: hidden;
          padding: 0;
          position: absolute;
          width: 1px;
        }
      }
    }
  }
}
