<header id="header-proto" class="header-proto search-inactive menu-mobile-inactive headroom">
  <nav id="menu">
    <div class="header-proto__mobile-wrapper">
      <a class="header-proto__logo" href="{{ '/' | url }}" aria-current="page">
        <img src="{{ '/assets/images/logo.svg' | url }}" alt="Oljefondet, Norges Bank Investment Management" width="222" height="39" />
      </a>
      <button id="menu-mobile" class="header-proto menu-button menu-button--hamburger" aria-haspopup="true" aria-expanded="false">
        <span class="header-proto menu-button menu-button--menu-accessible-icon">&#x25be;</span>
      </button>
    </div>
    <ul>
      <li class="selected-item">
        <a href="{{ '/' | url }}" aria-current="page">Oljefondet</a>
      </li>
      <li>
        <a href="{{ '/publikasjoner/' | url }}">Publikasjoner</a>
      </li>
      <li>
        <a href="{{ '/organisering/' | url }}">Organisering</a>
      </li>
      <li class="header-proto__search-field">
          <form action="/en/search/" method="get">
            <input id="search-input" type="text" name="" value="" placeholder="Søk"/>
            <label id="search-open" for="search-input">Søk</label>
            <input type="submit" name="submit" value="Søk"/>
          </form>
          <button id="search-close" class="menu-button menu-button--close" type="button" aria-haspopup="true" aria-expanded="true">
            <span class="menu-button menu-button--menu-accessible-icon">&#10005;</span>
          </button>
      </li>
      <li>
        <a href="#" class="header-proto__language-button">English</a>
      </li>
    </ul>
  </nav>
</header>
<button id="nbimScrollUpButton" class="page-arrow-up" aria-label="Scroll up"><span></span></button>
