{% extends "../_layouts/_layout.njk" %}

{% block main %}
	<h1>Includes come here</h1>

	{% from "macros/sectionTop.macro.njk" import sectionTop %}

	{{
	sectionTop({
			text: section_top_oljefondet_headline,
			isBig: true,
			headlineHasCurrency: true,
			hasArrowDown: true,
			imgAltText: section_top_oljefondet_imgAltText,
			imgUrl: section_top_oljefondet_imgUrl,
			headlinePre: section_top_oljefondet_headlinePre,
			headline: section_top_oljefondet_headline,
			headlineSub: section_top_oljefondet_headlineSub
		})
	}}

	{# {{
		sectionTop({
			isBig: true,
			headlineHasCurrency: true,
			hasArrowDown: true,
			imgAltText: section_top_oljefondet_imgAltText,
			imgUrl: section_top_oljefondet_imgUrl,
			headlinePre: section_top_oljefondet_headlinePre,
			headline: section_top_oljefondet_headline,
			headlineSub: section_top_oljefondet_headlineSub
		})
	}} #}

	{% from "macros/swatch.macro.njk" import colorPattern %}

	{{
		colorPattern({
			colorName: colorSwatch.colorName,
			colorValue: colorSwatch.colorValue,
			colorNotes: colorSwatch.colorNotes
		})
	}}

{% endblock %}
{% block footer %}
  {# {% include "base/footer"
    items=footer-items
    links=footer-links
  %} #}
{% endblock %}

