{% extends "base/layout.njk" %}

{% from "sections/section-top.njk" import sectionTop %}
{% from "sections/section-split.njk" import sectionSplit %}
{% from "sections/section-sec-3.njk" import sectionSec3 %}
{% from "sections/section-sec-2.njk" import sectionSec2 %}
{% from "sections/section-wide-sec-2.njk" import sectionWideSec2 %}
{% from "sections/section-timeline.njk" import sectionTimeline %}
{% from "sections/section-news.njk" import sectionNews %}


{% block main %}

	{{
		sectionTop({
			text: section_top_oljefondet_headline,
			isBig: true,
			headlineHasCurrency: true,
			hasArrowDown: true,
			imgAltText: section_top_oljefondet_imgAltText,
			imgUrl: section_top_oljefondet_imgUrl,
			headlinePre: section_top_oljefondet_headlinePre,
			headline: section_top_oljefondet_headline,
			headlineSub: section_top_oljefondet_headlineSub
		})
	}}
	
	{{
		sectionSplit({
			isAlt: false,
			quote: false,
			spacingTop: false,
			isShort: false,
			pictureToLeft: true,
			isInline: false,
			imgUrl: section_split_hva_er_oljefondet_imgUrl,
			imgAltText: section_split_hva_er_oljefondet_imgAltText,
			headline: section_split_hva_er_oljefondet_headline,
			ingress: section_split_hva_er_oljefondet_ingress,
			links: section_split_hva_er_oljefondet_links
		})
	}}
	
	{{ 
		sectionSec3({
			isAlt: true,
			headline: section_sec_3_investments_headline,
			links: section_sec_3_investments_links,
			items: section_sec_3_investments_items
		})
	}}
	
	{{
		sectionSec2({
			isAlt: true,
			spacingTop: '0',
			items: section_sec_2_investments2_items
		})
  }}

	{{
		sectionWideSec2({
			chart: section_wide_split_development_chart,
			imgAltText: section_wide_split_development_imgAltText,
			imgUrl: section_wide_split_development_imgUrl,
			headline: section_wide_split_development_headline,
			ingressTop: section_wide_split_development_ingressTop,
			items: section_wide_split_development_items,
			links: section_wide_split_development_links
		})    
  }}

	{{
		sectionTimeline({
			isAlt: true,
			headline: section_timeline_oljefondet_history_headline,
			items: section_timeline_oljefondet_history_items,
			links: section_timeline_oljefondet_history_links
		})    
  }}

	{{
		sectionNews({
			headline: section_news_home_headline,
			items: section_news_home_items,
			links: section_news_home_links
		})    
  }}

{% endblock %}

